.Chats { 
  flex: 1 1 0;   
  display: flex;   
  flex-direction: column;   
  align-items: flex-start;   
  width: 85%;   
  margin: 0 auto;   
  overflow-y: scroll; 
} 
.Chat {   
  margin: 1rem 0;   
  color: #fff;   
  padding: 1rem;   
  background: linear-gradient(90deg, #1986d8, #7b9cc2);   
  max-width: 90%;   
  border-top-right-radius: 10px;   
  border-bottom-right-radius: 10px; 
} 
.Chat.is-user-msg {   
  margin-left: auto;   
  background: #2b2c33;   
  border-top-right-radius: 0;   
  border-bottom-right-radius: 0;   
  border-top-left-radius: 10px;   
  border-bottom-left-radius: 10px; 
} 
 
@media (min-width: 576px) {   
  .Chat { 
    max-width: 60%;   
  } 
} 